<!-- 2 line ka mtlb index.html file base.html file se start krte hue body block ko is trf bhrti he -->
{% extends 'base.html' %}
{% block Block1 %}


<!-- ***************** NAVBAR *********************** -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand m-auto" href="/">ToDO Planner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>
</nav>

<!-- ***************** TODO FORM ******************** -->
<form class="container" action="/" method="POST">
    <div class="mb-3">
        <label for="task" class="form-label">Task Name</label>
        <input type="text" class="form-control" id="title" aria-describedby="emailHelp" name="title">

    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Task Description</label>
        <input type="text" class="form-control" id="descc" name="descc">
    </div>

    <button type="submit" class="btn btn-primary">Add Task</button>
</form>


<!-- ****************** TABLE ************************ -->
<h4 class="container mt-5">To Do List :</h4>
{% if alltodo|length == 0 %}
<!-- <h1 class="container">No task found, add your task</h1> -->
<div class="alert alert-success container" role="alert">
    <h4 class="alert-heading">No Task Found</h4>
    <p>You have not added any task yet, Add your task task now</p>
    <hr>
    <!-- <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
</div>

{% else %}

<table class="table container ">
    <thead>
        <tr>
            <th scope="col">S No.</th>
            <th scope="col">Task</th>
            <th scope="col">Description</th>
            <th scope="col">Time</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for ToDO in alltodo %}

        <tr>
            <!-- <th scope="row">{{ ToDO.sno }}</th> -->
            <th scope="row">{{ loop.index }}</th>
            <td>{{ ToDO.title }}</td>
            <td>{{ ToDO.desc }}</td>
            <td>{{ ToDO.date_created }}</td>
            <td>
                <a href="/delete/{{ToDO.sno}}" type="button" class="btn btn-danger">Delete</a>
                <a href="/update/{{ToDO.sno}}" type="button" class="btn btn-primary">Update</a>

            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>



{% endif %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>


{% endblock Block1 %}